/* Google Font */

body{
    font-family: 'Space Grotesk', sans-serif;
    background:#0A0A0A;
    color:white;
    scroll-behavior:smooth;
}

/* Hide Horizontal Scroll */

html,
body{
    overflow-x:hidden;
}

/* Custom Scrollbar */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#111827;
}

::-webkit-scrollbar-thumb{
    background:#8B5CF6;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#06B6D4;
}

/* Floating Laptop Animation */

@keyframes float {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }

}

.floating {

    animation: float 4s ease-in-out infinite;

}

/* ===============================
   TECHNOLOGY CARDS
================================ */

.tech-card{
    background: rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    border-radius:18px;
    padding:28px 20px;
    text-align:center;
    backdrop-filter: blur(12px);
    transition:.35s ease;
    cursor:pointer;
}

.tech-card:hover{
    transform:translateY(-8px);
    border-color:#22d3ee;
    box-shadow:0 0 35px rgba(34,211,238,.25);
}

.tech-card h3{
    color:#22d3ee;
    font-size:1.5rem;
    font-weight:700;
}

.tech-card p{
    margin-top:10px;
    color:#9ca3af;
}