/* Google Font */

body{
    font-family: 'Space Grotesk', sans-serif;
    background:#0A0A0A;
    color:white;
    scroll-behavior:smooth;
}

/* Hide Horizontal Scroll */

html,
body{
    overflow-x:hidden;
}

/* Custom Scrollbar */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#111827;
}

::-webkit-scrollbar-thumb{
    background:#8B5CF6;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#06B6D4;
}